In [8]:
import pandas as pd

# Define the file path
file_path = 'results_sampled.txt'

# Initialize an empty list to store the data
data = []

# Open and read the file
with open(file_path, 'r') as file:
    for line in file:
        # Split the line into components
        parts = line.strip().split('\t')
        # Append the data to the list
        data.append({
            'domain_1': parts[0].strip(),
            'domain_2': parts[1].strip(),
            'similarity': float(parts[2].strip())
        })

# Convert the list of dictionaries to a pandas DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
df.head()

     domain_1                domain_2  similarity
0  All_Beauty              All_Beauty    0.275908
1  All_Beauty          Amazon_Fashion    0.215520
2  All_Beauty              Appliances    0.134449
3  All_Beauty  Arts_Crafts_and_Sewing    0.207983
4  All_Beauty              Automotive    0.141708

In [12]:
## Filter
# Remove duplicate rows
df['domain_1'] = df['domain_1'].str.strip()
df['domain_2'] = df['domain_2'].str.strip()

# Remove whitespace from domain_1 and domain_2 columns
df = df.drop_duplicates()

# Filter out rows where domain_1 equals domain_2
df = df[df['domain_1'] != df['domain_2']]

# Only books in the domain_1 column
df = df[df['domain_1'].str.contains('Books')]

# sort the DataFrame by the 'similarity' column in descending order
df = df.sort_values(by='similarity', ascending=False)

df.head(300)

    domain_1                     domain_2  similarity
503    Books                 Kindle_Store    0.183448
505    Books                Movies_and_TV    0.144220
512    Books           Subscription_Boxes    0.117509
475    Books                CDs_and_Vinyl    0.114680
504    Books       Magazine_Subscriptions    0.113869
477    Books                Digital_Music    0.111325
510    Books                     Software    0.097412
514    Books               Toys_and_Games    0.096307
481    Books            Handmade_Products    0.090098
515    Books                  Video_Games    0.074951
471    Books       Arts_Crafts_and_Sewing    0.074723
479    Books                   Gift_Cards    0.071748
507    Books              Office_Products    0.070984
480    Books     Grocery_and_Gourmet_Food    0.070050
467    Books   Clothing_Shoes_and_Jewelry    0.069513
473    Books                Baby_Products    0.067923
482    Books         Health_and_Household    0.057174
509    Books                 Pet_Supplies    0.056861
511    Books          Sports_and_Outdoors    0.054008
474    Books     Beauty_and_Personal_Care    0.052338
508    Books        Patio_Lawn_and_Garden    0.050301
506    Books          Musical_Instruments    0.046234
469    Books               Amazon_Fashion    0.044135
513    Books   Tools_and_Home_Improvement    0.042935
483    Books     Health_and_Personal_Care    0.037067
468    Books                   All_Beauty    0.035465
502    Books    Industrial_and_Scientific    0.034255
476    Books  Cell_Phones_and_Accessories    0.025583
472    Books                   Automotive    0.023440
478    Books                  Electronics    0.018984
470    Books                   Appliances    0.015781